<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv8dkbyra/image/upload/v1671413563/nasa-Q1p7bh3SHj8-unsplash_upsgnm.jpg);">
  <div class="container">
    <h1>S'informer sur les innovations dand le monde de la <strong>High Tech</strong> !</h1>
    <p>Les nouvelles du Monde Informatique</p>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
<br>
<br>
  <ul>
    <% @posts.each do |post|  %>
      <% if post.title ==  "Les consommateurs américains inquiets de l'exploitation de leurs données personnelles" %>
        <%= image = "e1mwaajrjnlgqoqnotdp" %>
        <% elsif post.title == "Les pénuries de composants sont en phase de résolution" %>
          <%= image = "adi-goldstein-EUsVwEOsblE-unsplash_rfkn1w" %>
        <% elsif post.title == "Le Zero Trust, un modèle à explorer" %>%
          <%= image ="brooke-cagle-g1Kr4Ozfoac-unsplash_vh5n58" %>
        <% else %>
          <%= image = "luca-bravo-XJXWbfSo2f0-unsplash_dwndza" %>
      <% end %>
      <li>
        <div class="card-product">
          <%= cl_image_tag image, alt: "alttext", width: 300, height: 300, crop: :fill %>
          <div class="card-product-infos">
            <div>
              <h2><%=post.title %></h2>
              <h3><%=post.content %></h3>
            </div>

            <%= link_to posts_path(post) do %>
              <h4><%=post.url %></h4>
              <a>
              <br>
              <%= link_to "Publier votre commentaire", new_comment_path, class: "btn btn-gradient" %>
              </a>
              <br>
            <% end %>
          </div>
          <cr>
        </div>
      </li>
    <% end  %>
  </ul>
  <br>
</div>
